{% extends "three_block.html" %}

{% block title %}Course Media{% endblock %}

<!-- movie stuff -->
{% block header %}
{% include "movie_header.html" %}
{% endblock header %}
{% block body_attributes %}onload="RegisterListeners();"{% endblock %}
<!-- end movie stuff -->

{% block browse_sidebar %}
  {% include "student_browse.html" %}
{% endblock browse_sidebar %}


{% block main_column %}

  {% include "movie_div.html" %}

{% endblock main_column %}

{% block bottom_block %}

  {% include "mbrowser.html" %}

{% endblock bottom_block %}



    
