<table border="1">
<tbody>
<tr>
<th>Most Popular</th>
</tr>
<tr>
<td><a href="#" id="this_week_selector"><b>This week</b></a> | <a href="#">This month</a><br>
<a href="#">This semester</a> | <a href="#" id="all_time_selector" style="font-weight: normal;">All time</a></td>
</tr>
<tr>
<td colspan="2">
<div id="most_popular_this_week">
<ol class="dashboard_favorites"><li><a href="#">Faves This Week #1</a></li>
<li><a href="#">Faves This Week #2</a></li>
<li><a href="#">Faves This Week #3</a></li>
<li><a href="#">Faves This Week #4</a></li>
<li><a href="#">Faves This Week #5</a></li>
<a href="#">more ...</a></ol>
</div>
<div id="most_popular_all_time">
<ol class="dashboard_favorites"><li><a href="#">Faves All Time #1</a></li>
<li><a href="#">Faves All Time #2</a></li>
<li><a href="#">Faves All Time #3</a></li>
<li><a href="#">Faves All Time #4</a></li>
<li><a href="#">Faves All Time #5</a></li>
<a href="#">more ...</a></ol>
</div>
</td>
</tr>
<tr>
<th>My Recent Favorites</th>
</tr>
<tr>
<td id="my_history_recently_favorited">
<ol class="dashboard_favorites"><li><a href="#">My Recently Favorited #1</a></li>
<li><a href="#">My Recently Favorited #2</a></li>
<li><a href="#">My Recently Favorited #3</a></li>
<a href="#">All Favorites ...</a></ol>
</td>
</tr>
</tbody>
</table>
<br>
