{% extends "two_column.html" %}

{% block title %}Course Media{% endblock %}

{% block header %}

{% include "staff_movie_header.html" %}

{% endblock header %}

{% block body_attributes %}onload="RegisterListeners();"{% endblock body_attributes %}


{% block main_column %}


<table border="0">


  <tr>
    <td>
      <div id="movie_div" style="float:left;align:left"></div>
      
      <script type="text/javascript">
	document.getElementById('movie_div').innerHTML = qtEmbed;
      </script>
    </td>
  </tr>

  <!-- 800 by 300 graph in same table -->
    <tr>
    <td>
      <div id="view_graph_div" class="view_graph_div" style="float:left;align:left">
      <img id="view_graph" name="view_graph" src="{{img_url}}" />
      </div>
    </td>
  </tr>
  
{% include "timing_fields.html" %}

</table>

{% endblock main_column%}

<!--
{% block sidebar %}

{% include "similar_video_bar.html" %}
{% include "favorite_button.html" %}


{% endblock sidebar %}
-->
