
<div name="favorite_div" id="favorite_div">
  <table>
    <tr>
      
      
      <td class="sidebar_header" style="display:inline">
	<form action="" method="post" name="change_favorite" id="change_favorite">
	  <input type="hidden" name="username" id="username" value="{{user.username}}" />
	  <input type="hidden" name="ta_id" id="ta_id" value="{{selected_ta.id}}" />
	  
	  
	  {% if user.is_authenticated and is_user_favorite %} 
	  <!-- This video is marked as one of your favorites.-->
	  <input type="submit" id="submit_favorite" name="submit_favorite" value="Remove Favorite" />
	  {% endif %}
	  
	  {% if user.is_authenticated and not is_user_favorite %} 
	  <!-- You have not yet added this video to your favorites.-->
	  <input type="submit" id="submit_favorite" name="submit_favorite" value="Add Favorite" style="align:right"/>
	  {% endif %}
	  
	</form>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="/site_media/comment_submission.js"></script>
<script type="text/javascript" src="/site_media/jquery.js"></script>
<script type="text/javascript">
$('#change_favorite').submit(
function() {
change_favorite();
console.log("here");
return false;
  }
);


</script>
