
  <tr>
    <td>
 
      <table>
	<input type="hidden" id="interval_start_units" name="interval_start_units"/>
	<tr><td>
	    interval_play_last: 
	    <input type="text" id="interval_start_display" name="interval_start_display" value="0"/>
	</td></tr>
	<tr><td>
	    start_second_number:
	    <input type="text" id="start_seconds_display" name="start_seconds_display" value="?"/>
	</td></tr>
      </table>
    </td>
    <td>
      <table>
	<input type="hidden" id="interval_pause_units" name="interval_pause_units"/>
	<tr><td>
	    interval_pause_last: 
	    <input type="text" 
		   id="interval_pause_display" 
		   name="interval_pause_display" 
		   value="0"/>
	</td></tr>
	<tr><td>
	    pause_second_number:
	    <input type="text" id="pause_seconds_display" name="pause_seconds_display" value="?"/>
	</td></tr>
      </table>
    </td>
    <td>
      <table>
	<input type="hidden" id="interval_skip_units" name="interval_skip_units"/>
	<tr><td>
	    interval_skip: 
	    <input type="text" id="interval_skip_display" name="interval_skip_display" value="0"/>
	</td></tr>
	<tr><td>
	    skip_second_number:
	    <input type="text" id="skip_seconds_display" name="skip_seconds_display" value="?"/>
	</td></tr>
      </table>

    </td>
    <td>
      <table>
	<tr><td>
	    play_timer:
	    <!-- clk value:
	    <input type="text" id="timer" name="timer" value="0"> -->
	    <input type="text" id="play_timer" name="play_timer" value="?"/>
	    <input type="hidden" id="play_timer_id" name="play_timer_id" value="?"/>
	</td></tr>
	<tr><td>
	    start_timer:
	    <input type="text" id="start_timer" name="start_timer"/>
	    <input type="hidden" id="start_timer_id" name="start_timer_id"/>
	</td></tr>
	</table>
      <input type="hidden" id="timescale" name="timescale" value="?"/>
      <form id="iform" method="post">
	<input type="hidden" id="ta_id" name="ta_id" value="{{selected_ta.id}}"/>
	<input type="hidden" id="user" name="user" value="{{user}}"/>
	<input type="hidden" id="iform_start_time" name="iform_start_time" value="0"/>
	<input type="hidden" id="iform_end_time" name="iform_end_time" value="0"/>
      </form>
    </td>
  </tr>

  <tr>
    <td>
      debug:
      <input type="text" id="debug" value="?"/>
    </td>
    <td>
      debug2:
      <input type="text" id="debug2" value="?"/>
    </td>
  </tr>

  <tr>
    <td>
      {% include "comment_view.html" %}	
    </td>
  </tr>
