{% extends "two_column.html" %}

{% block title %}Course Media{% endblock %}

{% block header %}

{% include "interval_movie_header.html" %}
<!-- saves the intervals as opposed to regular one -->

{% endblock header %}

{% block body_attributes %}onload="RegisterListeners();"{% endblock body_attributes %}


{% block main_column %}


<table border="0">
  <tr>
    <td>
      <div id="movie_div" style="float:left;align:left"></div>
      
      <script type="text/javascript">
	document.getElementById('movie_div').innerHTML = qtEmbed;
      </script>
    </td>
  </tr>

  {% include "comment_view.html" %}

  {% include "timing_fields.html" %}


</table>

{% endblock main_column%}


{% block sidebar %}

{% include "similar_video_bar.html" %}
{% include "favorite_button.html" %}


{% endblock sidebar %}

