{% extends "base.html" %}

{% block title %} {{student.get_full_name}}'s Course Profile{% endblock %}

{% block content %}


<br>
<div style="display:block">

<table border="1">
  <tr>
    <th>--</th><th>Quizzes</th><th>Labs</th><th>Tutorial Problems</th><th>Concept Explanations</th>
  </tr>
  <tr>
    <th>
      Favorites
    </th>
    <td>
      {% for f in fav_quizzes %}
      <li> <a href="/show_media/{{f.id}}" target="_blank">{{f}}</a>
	{% endfor %}
v    </td>
    <td>
      {% for f in fav_labs %}
      <li> <a href="/show_media/{{f.id}}">{{f}}</a>
	{% endfor %}
    </td>
    <td>
      {% for f in fav_concepts %}
      <li> <a href="/show_media/{{f.id}}">{{f}}</a>
	{% endfor %}
    </td>
    <td>
      {% for f in fav_tutprobs %}
      <li> <a href="/show_media/{{f.id}}">{{f}}</a>
	{% endfor %}
    </td>
  </tr>

  <tr>
    <th>
      Popular
    </th>
    <td>
      <ul>
	{% for f in quizzes %}
	<li> <a href="/show_media/{{f.id}}">{{f}}</a>
	  {% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for f in labs %}
	<li> <a href="/show_media/{{f.id}}">{{f}}</a>
	  {% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for f in concepts %}
	<li> <a href="/show_media/{{f.id}}">{{f}}</a>
	  {% endfor %}
      </ul>
    </td>

    <td>
      <ul>
	{% for f in tutprobs %}
	<li> <a href="/show_media/{{f.id}}">{{f}}</a>
	  {% endfor %}
      </ul>
    </td>

  
  </tr>

</table>
</div>

{% endblock %}
	

