<table border="1">
  <tr>
    <th>
      Popular Videos
    </th>
  </tr>
  <tr>
    <td>

      <ul>

      <li> </li>
      <li> </li>

      </ul>
      


    </td>
  </tr>
  <tr>
    <td>
      - By Time
    </td>
  </tr>
  <tr>
    <td>
      - More Options...
    </td>
  </tr>

  <tr>
    <th>
      {{request.user.get_full_name}}'s Favorites
    </th>
  </tr>
  <tr>
    <td>
      - By Topic
    </td>
  </tr>
  <tr>
    <td>
      - By Time
    </td>
  </tr>
  <tr>
    <td>
      - More Options...
    </td>
  </tr>
  
  <tr>
    <th>
      <a href="http://6004.csail.mit.edu/">
	6.004 Home
      </a>
    </th>
  </tr>
  
  <tr>
    <th>
      Media Browset
    </th>
  </tr>

</table>

    
			  

