{% extends "two_column.html" %}

{% block title %} Topic List {% endblock title %}

{% block main_content %}

<p> <style="font-size:115%">Welcome</style> to the 6.004 multimedia tutorial site. Here, you can explore videos 
to walk you through solutions to tutorial problems, worked examples of problems that appeared in quizzes in previous semesters, and 
much more. You can favorite videos to save them. Adding a video as a favorite will increment the global count for a clip's 
popularity. This means it also can serve as an anonymous vote in favor of a clip. You can visit the main media browser page 
(linked in the top navigation bar) at any time to view your own favorites or to look for new educational resources for 6.004.
</p>
<p>
Clicking on any of the topics to the right will lead you to a list of the materials available for that topic. When you view
 clip in the detail view, you can add it as a favorite, add comments for other students to view, or add comments that are 
only availabe for yo uand the course staff to see.
</p>



{% endblock main_content %}

