<html>
<head>
<title>Quicktime Template</title>

<script type="text/javascript" src="AC_QuickTime.js"></script>


<script type="text/javascript">

// define the video here
var qtEmbed = QT_GenerateOBJECTText_XHTML(
		'correcto.mov', //'video_placeholder.jpg',
		'190', // width
		'210', // height: set this to actual height + 20 (to leave space for controller)
		'', // required blacnk field
		'enablejavascript', 'true',
		'obj#id', 'movie1',
		'emb#name', 'movie1',
		'emb#id', 'movie1_emb',
		'postdomevents', 'true',
		'autoplay', 'false'
)


// called from body.onload to set up listeners that will wait for quicktime
// movie to send events

function RegisterListeners()
{
	// when the movie loads, it will set the end time to the duration of the movie
	RegisterListener('qt_loadedmetadata', 'movie1', 'movie1_emb', set_default_end_time);
}

function set_default_end_time()
{
	resize_to_fit_movie();
	set_end_time( document.movie1.GetDuration() );
}

function set_start_time()
{
	document.getElementById('start_time_units').value = playhead_position();
	document.getElementById('start_time_display').value = format_time( playhead_position() );
}

function set_end_time(end_time)
{
	if(typeof(end_time) == "undefined")
	{ 
		end_time = playhead_position();
	}
	document.getElementById('end_time_units').value = end_time;
	document.getElementById('end_time_display').value = format_time( end_time );
}

function resize_to_fit_movie()
{
	var obj = document.movie1;
	var rectangle = obj.GetRectangle();

	if (rectangle)
	{
		rectangle = rectangle.split(',')
		var x1 = parseInt(rectangle[0]);
		var x2 = parseInt(rectangle[2]);
		var y1 = parseInt(rectangle[1]);
		var y2 = parseInt(rectangle[3]);

		var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
		var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
	}
	else
	{
		// a mov containing only audio
		var width = 200;
		var height = 0;
	}

	document.getElementById('video_height').value = width;
	document.getElementById('video_width').value = height;

	obj.width = width;
	obj.height = height + 16;

	obj.SetControllerVisible(true);
}

// "private" methods
function format_time(time_in_video_units){
	totalSec = time_in_video_units / time_scale();

	hours = parseInt( totalSec / 3600 ) % 24;
	minutes = parseInt( totalSec / 60 ) % 60;
	seconds = parseInt( totalSec ) % 60;
	fframes  = Math.round( ((totalSec % 60) - seconds) * 100);

	result =  zero_pad(hours) + ":" + zero_pad(minutes) + ":" + zero_pad(seconds) + ":" + zero_pad(fframes);
	return result;
};

function playhead_position() {
	return document.movie1.GetTime();
}

function time_scale() {
	return document.movie1.GetTimeScale();
}

function zero_pad(number)
{
	return (number < 10 ? "0" + number: number)
}

function myAddListener(obj, evt, handler, captures)
{
	if ( document.addEventListener )
		obj.addEventListener(evt, handler, captures);
	else
		// IE
		obj.attachEvent('on' + evt, handler);
}

function RegisterListener(eventName, objID, embedID, listenerFcn)
{
	var obj = document.getElementById(objID);
	if ( !obj )
		obj = document.getElementById(embedID);
	if ( obj )
		myAddListener(obj, eventName, listenerFcn, false);
}

</script>

</head>
<body onload="RegisterListeners();">
<form>
<table>
<tr>
<td colspan="4" align="center">

	<div id="movie_div"></div>

	<script type="text/javascript">
		document.getElementById('movie_div').innerHTML = qtEmbed;
	</script>

</td>
</tr>
<tr valign="bottom">
<td align="center" colspan="2">Start Time</td>
<td align="center" colspan="2">End Time</td>
</tr>
<tr valign="top">
<td align="right">
	<input type="text" id="start_time_display" value="00:00:00" size="8" />
	<input type="hidden" id="start_time_units" name="start_time_units" value="0" />
</td>
<td align="left"><input type="button" onclick="set_start_time();" value="Set to Now" /></td>
<td align="right">
	<input type="text" id="end_time_display" value="00:00:00" size="8" />
	<input type="hidden" id="end_time_units" name="end_time_units" />
</td>
<td align="left"><input type="button" onclick="set_end_time();" value="Set to Now" /></td>
</tr>
<tr>
<td colspan="4" align="center">
<br />
Topic: <select>
	<option>Must choose one...</option>
	<option>Topic Foo</option>
</select>
<input type="hidden" id="video_height" name="video_height" value="0" />
<input type="hidden" id="video_width" name="video_width"  value="0" />
<input type="submit" value="Save" onclick="alert(document.getElementById('video_height').value); alert(document.getElementById('video_width').value); return false;" />
<br />(Start and End time must be set.)</td>
</tr>
</table>
</form>

<p>Staff member viewing video clicks "Set to Now" button under start time.<br />
 - Start time field value is set to playhead position via Javascript.<br />
 - Optional: Pressing Set to Now pauses video. User must click Play again to restart.</p>

<p>Staff member viewing clicks "Set to Now" button under end time (default value can be end of video).<br />
 - End time field value is set to playhead position via Javascript.<br />
 - ?what's the format off this offset at this time?</p>

<p>User must select a topic from a dropdown<br />
 - When start time, end time, and topic are all set, user can save</p>

</body>
</html>