<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>6.004 Tutorial Problems</title>
</head>
<body margin-top:5px">

<table width="600"><tr><td>

<center><font size="+1"><b>6.004 Tutorial Problems</b></font></center>

<p>These tutorial problems can be used to test your understanding
of the lecture material. Some of these problems are similar to
those appearing on the quizzes. The twice-weekly one-hour tutorial
sessions give you a chance to work on these problems with the help
of a TA and to ask any questions you may have.</p>

<p>Answers to each of the questions can be viewed by clicking the
<img src="show.gif" /> icon that appears after each
question.</p>

<center>
<table width="500" cellpadding="8">
<tr>
<td bgcolor="#E0FFE0" align="left"><b>Note:</b> There's a big difference between
understanding someone else's answer to a question and being able to
generate that answer yourself. It's very tempting to just read the
question and then immediately view the answer but that is
<i>not</i> the best way to use these questions. You are strongly
encouraged to try the questions yourself -- e.g., by printing out
the page of questions and working them like a problem set -- and
then use the answers to check your work.</td>
</tr>
</table>
</center>

<p>The hide-answer/show-answer controls require that you have
Javascript enabled on your browser.  If your browser doesn't support
Javascript or you don't wish to enable it, you can use the provided
links to access the problems either with or without answers.</p>

<table cellspacing="0">
<tr>
<td colspan="4"><b>Problems for Quiz #1:</b></td>
</tr>

<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<a href="info.html">Basics of information</a>
</td>
<td><font size="1">[<a href="info_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="info_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="digital.html">The digital abstraction</a>
</td>
<td><font size="1">[<a href="digital_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="digital_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="cmos.html">CMOS technology</a>
</td>
<td><font size="1">[<a href="cmos_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="cmos_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="gates.html">Gates and Boolean logic</a>
</td>
<td><font size="1">[<a href="gates_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="gates_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="logic.html">Synthesis of combinational logic</a>
</td>
<td><font size="1">[<a href="logic_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="logic_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td colspan="4"><br/><b>Problems for Quiz #2:</b></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="sequential.html">Sequential logic</a>
</td>
<td><font size="1">[<a href="sequential_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="sequential_noanswers.html">w/o answers</a>]</font></td>
</tr>


<tr>
<td>&nbsp;</td>
<td>
<a href="fsm.html"> FSMs</a>
</td>
<td><font size="1">[<a href="fsm_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="fsm_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="synchronization.html">Synchronization and metastability</a>
</td>
<td><font size="1">[<a href="synchronization_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="synchronization_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="pipeline.html">Pipelining</a>
</td>
<td><font size="1">[<a href="pipeline_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="pipeline_noanswers.html">w/o answers</a>]</font></td>
</tr>


<tr>
<td colspan="4"><br/><b>Problems for Quiz #3:</b></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="computation.html">Models of computation</a>
</td>
<td><font size="1">[<a href="computation_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="computation_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="progmach.html">Programmable machines</a>
</td>
<td><font size="1">[<a href="progmach_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="progmach_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="machinelang.html">Machine language</a>
</td>
<td><font size="1">[<a href="machinelang_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="machinelang_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="procedures.html">Stacks and procedures</a>
</td>
<td><font size="1">[<a href="procedures_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="procedures_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="beta.html">Building the Beta</a>
</td>
<td><font size="1">[<a href="beta_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="beta_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td colspan="4"><br/><b>Problems for Quiz #4:</b></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="memhierarchy.html">Memory Hierarchy</a>
</td>
<td><font size="1">[<a href="memhierarchy_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="memhierarchy_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="caches.html">Caches</a>
</td>
<td><font size="1">[<a href="caches_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="caches_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="vm.html">Virtual memory</a>
</td>
<td><font size="1">[<a href="vm_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="vm_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="os.html">Virtual machines; OS issues</a>
</td>
<td><font size="1">[<a href="os_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="os_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td colspan="4"><br/><b>Problems for Quiz #5:</b></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="realtime.html">Devices, interrupts and real time</a>
</td>
<td><font size="1">[<a href="realtime_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="realtime_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="semaphores.html">Semaphores</a>
</td>
<td><font size="1">[<a href="semaphores_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="semaphores_noanswers.html">w/o answers</a>]</font></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href="pipelinedbeta.html">Pipelined Beta</a>
</td>
<td><font size="1">[<a href="pipelinedbeta_answers.html">w/ answers</a>]</font></td>
<td><font size="1">[<a href="pipelinedbeta_noanswers.html">w/o answers</a>]</font></td>
</tr>

</table>

</td></tr></table>

</body>
</html>

